/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#jumbo-land {
    background: linear-gradient(rgb(0,0,0,0.2), rgb(0,0,0,0.2)),url(../images/pulag2.jpg);
    /* background: linear-gradient(rgb(20,40,80,0.5), rgb(20,40,80,0.5)),url(../images/pulag.jpg); */
    /* background: linear-gradient(rgb(39,73,109,0.5), rgb(39,73,109,0.5)),url(../images/pulag.jpg);  */
    /* background: linear-gradient(rgb(72,72,104,0.5), rgb(0,0,0,0.7)),url(../images/pulag2.jpg); */
    /* background: linear-gradient(rgb(24,32,40,0.6), rgb(24,32,40,0.6)),url(../images/pulag.jpg); */
    background-position: center;
    background-size: cover;
    background-color: #333;
    height: 100vh;
    margin-bottom: 0;
    border-radius: 0;
}

.v-center {
    position: absolute;
    width: 50%;
    height: 30vh;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.wrapper {
    position: relative;
}

.logo-text {
    display: inline-block;
    margin-bottom: 0;
   /* padding-top: 20%;
    margin-top: 100px;*/
    font-family: 'Passero One', sans-serif;
    font-size: 5rem;
}

.land-btn {
    width: 30%;
}

/*media queries*/

/*mobile styling*/
@media only screen and (max-width: 400px) {
    .land-btn {
    width: 50%;
    }
}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .land-btn {
    width: 50%;
    }
}

/*desktop styling*/
@media only screen and (min-width: 961px) {

}