/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #fbfbf8;
}

body, html {
    background-color: #1d3254;
    scroll-behavior: smooth;
}


/* navbar and footer */
.navbar, footer {
	background-color: #1d3254;
	/*border-bottom: 1px solid #fbfbf8;
	;*/
}

.navbar {
	box-shadow: 0px 8px 6px -6px #000;
}

footer {
	box-shadow: 0 -8px 10px -6px #000000;
}

.container-disclaimer {
	font-size: 1rem;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-nav {
	padding-left: 5px;
}

.nav-link {
	font-family: 'Passero One', sans-serif;
	color:#fbfbf8;
	font-size: 1.4rem;
}

.nav-link:hover {
	text-decoration: underline;
}

.active {
	color:#4a7dd4;
}

.socialmedia-icons {
	color: #fbfbf8;
	font-size: 1.7rem;
	padding-right: 10px;
}

.socialmedia-icons:hover {
	color: #4a7dd4;
}

#iconlist {
	position: absolute;
	right: 2vw;
}

#logo {
	height: 8vh;
	position: absolute;
	transform: translate(0, -50%);
}
/* end navbar and footer */


/* home page */
.home-bg {
	background: linear-gradient(rgba(29, 50, 84, 0.3), rgb(29,50,84,0.3)),url(../images/mt-apo.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	box-shadow: 0px 8px 6px -6px #000;
}

.text-right-md {
	text-align: right;
}

.text-left-md {
	text-align: left;
}

.home-container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.container-bg {
	/*background-color: #2f466f;*/
	background-color: #202D43;
	padding-top: 5vh;
	padding-bottom:  2vh;
	box-shadow: 8px 8px 10px -6px #000;
}

.home-brand, .home-text, .home-quote {
	text-align: center;
}

.logo-holder {
	text-align: right;
}

.akyat-text {
	display:inline-block;
	font-family: 'Passero One', sans-serif;
	font-size: 5rem;
	margin-top: 80px;
	border-bottom: 1px solid #fbfbf8;
	color: #082040;
	text-align: left;
}

.akyat-desc, .akyat-quote {
	color: #082040;
	font-size: 1.5rem;
}

.div-para {
	background: linear-gradient(rgba(29, 50, 84, 0.1), rgb(29,50,84,0.1)),url(../images/pulag.jpg);;
	background-size: cover;
	background-position: center;
	height: 40vh;
	background-attachment: fixed;
	padding: 0;
	box-shadow: 8px 8px 10px -6px #000;
}

.container {
	text-align: center;
	max-width: 960px;
	margin-bottom: 5vh;
}

.container-fluid {
	margin-bottom: 10vh;
}

.main-container h2 {
	font-family: 'Passero One', sans-serif;
	font-size: 3rem;
	color: #fbfbf8;
	padding-bottom: 20px;
}

.row-container {
	margin-bottom: 20px;
}

.card {
	overflow: hidden;
	background-color: #1d3254;
	border-radius: 10px;
}

.card-shadow{
	box-shadow: 0px 8px 6px -6px #000;
}
.card-img-top {
	opacity: 0.9;
}

.img-text-holder {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.mountain-names {
	color: #fbfbf8;
	font-size: 1.2rem;

}

.img-container:hover div {
	opacity: 1;
	transition: 1s ease-in-out;
}

.img-container:hover img {
	transform: scale(1.3);
	transition: 1s ease-in-out;
}

.container-quote p{
	font-size: 3rem;
	height: 25vh;
	align-items: center;
	display: flex;
	justify-content: center;
	font-family: 'Passero One', sans-serif;
	background-color: #1d3254;
	border-radius: 5px;
	box-shadow: 0px 8px 6px -6px #000;
	color: #fbfbf8;
}

.row-trivia {
	align-items: center;
	margin-top: 10px;
}

.row-trivia {
	text-align: justify;
}

.img-trivia {
	border-radius: 10px;
	/*box-shadow: 0px 8px 6px -6px #000;*/
	box-shadow: 8px 8px 10px -6px #000;
}
/* end home page */

/*mountains page*/
.mountain-page-heading {
	font-size: 2.5rem;
	background-color: #202D43;
	margin-bottom: 30px;
	padding: 25px;
	/*box-shadow: 0px 8px 6px -6px #000;*/
	box-shadow: 8px 8px 10px -6px #000;
	border-radius: 5px;
	font-family: 'Passero One', sans-serif;
}
.mountain-page-container {
	margin-top: 15vh;
}

.mountain-section {
	/*background-color: #2f466f;*/
	background-color: #202D43;
	margin-bottom: 30px;
	padding: 25px;
	/*box-shadow: 0px 8px 6px -6px #000;*/
	box-shadow: 8px 8px 10px -6px #000;
	border-radius: 5px;
}

.mountain-section h3 {
	font-size: 2rem;
}


.mountain-quick-desc {
	padding-top: 20px;
	padding-left: 10%;
	list-style: none;
	text-align: left;
}

.mountain-quick-desc p {
	margin-bottom: 0;
	padding-bottom: 10px
}

.mountain-desc {
	text-align: justify;
}

hr {
	background-color: #fbfbf8;
}

/*carousel section*/

.mountain-carousel-item {
  height: 35vh;
  background-size: cover;
/*  background-position: 100% 50%;*/
  background-position: center center; 
}

/*mtpulag*/
#pulag1 {
	background-image: url("../images/hikers.jpg");
}

#pulag2 {
	background-image: url("../images/pulag.jpg");
}

#pulag3 {
	background-image: url("../images/pulag2.jpg");
}

/*mtapo*/
#apo1 {
	background-image:  url("../images/");
}

#apo2 {
	background-image:  url("../images/");
}

#apo3 {
	background-image:  url("../images/");
}


/*end carousel section*/

b {
	color:#4a7dd4;
}

.checked {
	color: #8aa5d4;
}


/*end mountains page*/


/*about page*/
.about-page-container {
	margin-top: 15vh;
	max-width: 960px;
	height: 1000px;
	background-color: steelblue;
}

/*end about page*/

/*media queries*/

/*mobile styling*/
@media only screen and (max-width: 400px) {
	/*home page*/
	.home-container {
	top: 40%;
}

	.home-bg {
		margin-bottom: 0;
	}

	#logo {
	height: 6vh;
	position: absolute;
	transform: translate(0, -50%);
	}

	.logo2 {
		height: 100px;
		width: 100px;
	}

	.akyat-text {
		margin-top: 0;
		font-size: 3.5rem;
		text-align: center;
		
	}

	.akyat-desc {
		font-size: 2rem;
	}

	.akyat-quote {
		font-size: 1.2rem;
	}

	.para-img {
		background-attachment: scroll;
	}

	.navbar-nav{
		text-align: center;
	}

	.nav-item {
		border-bottom: 1px solid white;
	}

	#iconlist {
		display: none;
	}

	.container-quote {
		margin-bottom: 0;
	}

	.container-quote p{
		font-size: 1.8rem;
		height: 100%;
		margin: 0;
	}

	.card {
		margin-bottom: 15px;
	}

	/*end home page*/

	/*footer*/

	.container-disclaimer {
		font-size: 0.8rem;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.container-disclaimer {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.container-disclaimer p{
		padding: 10px;
	}

	.container-disclaimer .name{
		font-size: 0.8rem;
	
	}

	.container-disclaimer .info{
		font-size: 0.7rem;
		padding: 0 10px;
	}

	/*end footer*/

	/*mountain page*/
	.mountain-page-container {
		margin-top: 10vh;
	}
	/*end mountain page*/

	/*about page*/
	.about-page-container {

	}
	/*end about page*/

}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	#logo {
	height: 6vh;
	position: absolute;
	transform: translate(0, -50%);
	}

	.main-container {
		max-width: 650px;
	}

	.container-quote p{
		font-size: 3rem;
		height: 20vh;
		
	}

}

/*desktop styling*/
@media only screen and (min-width: 961px) {

}
