/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #fbfbf8;
}

body, html {
    background-color: #1d3254;
    scroll-behavior: smooth;
}

.animated {
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
}

/* landing page */
/*carousel items*/
.land-carousel-item {
	height: 100vh;
	background-size: cover;
	background-position: center center; 
  }
  
#land-item1 {
	background-image: url("../images/mayon1.jpg");
}
  
#land-item2 {
	background-image: url("../images/pulag3.jpg");
}
  
#land-item3 {
	background-image: url("../images/pinatubo1.jpg");
}
  
/*end carousel items*/
.land-text {
	color: #082040;
	font-size: 2.5rem;
	font-weight: 600;
	min-height: 15vh;
	display: flex;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 20px;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 0px 8px 6px -6px #000;
}  

.land-container-section {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	min-width: 45%;
}
  
.landpage-btn {
	background-color: rgba(255,255,255,0.4);
	min-width: 30%;
	font-weight: 500;
	font-size: 1.3rem;
	box-shadow: 0px 8px 6px -6px #000;
	margin-top: 10px;
	border-radius: 5px;
}

.landpage-btn:hover {
	color: #fbfbf8;
	transition: 1s ease-in-out;
}
  
.landpage-btn:hover {
	background-color: rgba(1,1,1,0.5);
	transition: 0.5s ease;
}
  
.landpage-btn:active {
	background-color: rgba(1,1,1,0.5);
	transition: 0.5s ease;
}
  
.morefunlogo {
	width: 200px;
	position: absolute;
	bottom: 3%;
	right: 3%;
}
  
.akyatlogo {
	width: 100px;
	position: absolute;
	bottom: 10%;
	right: 5%;
}
 
/* end landing page */

/* navbar and footer */
.navbar, footer {
	background-color: #1d3254;
}

.navbar {
	box-shadow: 0px 8px 6px -6px #000;
}

footer {
	box-shadow: 0 -8px 10px -6px #000000;
}

.container-disclaimer {
	font-size: 1rem;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-nav {
	padding-left: 5px;
}

.nav-link {
	font-family: 'Passero One', sans-serif;
	color:#fbfbf8;
	font-size: 1.4rem;
}

.nav-link:hover {
	text-decoration: underline;
}

.active {
	color:#4a7dd4;
}

.socialmedia-icons {
	color: #fbfbf8;
	font-size: 1.7rem;
	padding-right: 10px;
}

.socialmedia-icons:hover {
	color: #4a7dd4;
}

#iconlist {
	position: absolute;
	right: 2vw;
}

#logo {
	height: 8vh;
	position: absolute;
	transform: translate(0, -50%);
}
/* end navbar and footer */


/* home page */
.home-bg {
	background: linear-gradient(rgba(29, 50, 84, 0.3), rgb(29,50,84,0.3)),url(../images/home-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	box-shadow: 0px 8px 6px -6px #000;
}

.text-right-md {
	text-align: right;
}

.text-left-md {
	text-align: left;
}

.home-container {
	position: absolute;
	top: 37%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.container-bg {
	background-color: #202D43;
	padding-top: 5vh;
	padding-bottom:  2vh;
	box-shadow: 8px 8px 10px -6px #000;
}

.home-brand, .home-text, .home-quote {
	text-align: center;
}

.logo-holder {
	text-align: right;
}

.akyat-text {
	display:inline-block;
	font-family: 'Passero One', sans-serif;
	font-size: 5rem;
	margin-top: 80px;
	border-bottom: 1px solid #fbfbf8;
	color: #082040;
	text-align: left;
}

.akyat-desc, .akyat-quote {
	color: #fbfbf8;
	font-size: 1.5rem;
}

.div-para {
	background: linear-gradient(rgba(29, 50, 84, 0.1), rgb(29,50,84,0.1)),url(../images/pulag3.jpg);;
	background-size: cover;
	background-position: bottom;
	height: 40vh;
	background-attachment: fixed;
	padding: 0;
	box-shadow: 8px 8px 10px -6px #000;
}

.container {
	text-align: center;
	max-width: 960px;
	margin-bottom: 5vh;
}

.container-fluid {
	margin-bottom: 10vh;
}

.main-container h2 {
	font-family: 'Passero One', sans-serif;
	font-size: 3rem;
	color: #fbfbf8;
	padding-bottom: 20px;
}

.row-container {
	margin-bottom: 20px;
}

.card {
	overflow: hidden;
	background-color: #1d3254;
	border-radius: 10px;
	max-height: 220px;
}

.card-shadow{
	box-shadow: 0px 8px 6px -6px #000;
}
.card-img-top {
	opacity: 0.9;
}

.img-text-holder {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.mountain-names {
	color: #fbfbf8;
	font-size: 1.2rem;

}

.img-container:hover div {
	opacity: 1;
	transition: 1s ease-in-out;
}

.img-container:hover img {
	transform: scale(1.3);
	transition: 1s ease-in-out;
}

.container-quote p{
	font-size: 3rem;
	height: 25vh;
	align-items: center;
	display: flex;
	justify-content: center;
	font-family: 'Passero One', sans-serif;
	background-color: #1d3254;
	border-radius: 5px;
	box-shadow: 0px 8px 6px -6px #000;
	color: #fbfbf8;
}

.row-trivia {
	align-items: center;
	margin-top: 10px;
}

.row-trivia {
	text-align: justify;
}

.img-trivia {
	border-radius: 10px;
	box-shadow: 8px 8px 10px -6px #000;
}
/* end home page */

/*mountains page*/
.mountain-page-heading {
	font-size: 2.5rem;
	background-color: #202D43;
	margin-bottom: 30px;
	padding: 25px;
	box-shadow: 8px 8px 10px -6px #000;
	border-radius: 5px;
	font-family: 'Passero One', sans-serif;
}
.mountain-page-container {
	margin-top: 15vh;
}

.mountain-section {
	background-color: #202D43;
	margin-bottom: 30px;
	padding: 25px;
	box-shadow: 8px 8px 10px -6px #000;
	border-radius: 5px;
}

.mountain-section h3 {
	font-size: 2rem;
}


.mountain-quick-desc {
	padding-top: 20px;
	padding-left: 10%;
	list-style: none;
	text-align: left;
}

.mountain-quick-desc p {
	margin-bottom: 0;
	padding-bottom: 10px
}

.mountain-desc {
	text-align: justify;
}

hr {
	background-color: #fbfbf8;
}

b {
	color:#4a7dd4;
}

.checked {
	color: #8aa5d4;
}

/*carousel section*/

.mountain-carousel-item {
  height: 35vh;
  background-size: cover;
  background-position: center center; 
}

/*mt pulag*/
#pulag1 {
	background-image: url("../images/pulag1.jpg");
}

#pulag2 {
	background-image: url("../images/pulag2.jpg");
}

#pulag3 {
	background-image: url("../images/pulag3.jpg");
}

/*mt apo*/
#apo1 {
	background-image:  url("../images/apo1.jpg");
}

#apo2 {
	background-image:  url("../images/apo2.jpg");
}

#apo3 {
	background-image:  url("../images/apo3.jpg");
}

/*mt mariveles*/
#mariveles1 {
	background-image:  url("../images/mariveles1.jpg");
}

#mariveles2 {
	background-image:  url("../images/mariveles2.jpg");
}

#mariveles2 {
	background-image:  url("../images/mariveles3.JPG");
}

/*mt mayon*/
#mayon1 {
	background-image:  url("../images/mayon1.jpg");
}

#mayon2 {
	background-image:  url("../images/mayon2.jpg");
}

#mayon3 {
	background-image:  url("../images/mayon3.jpg");
}

/*mt pinatubo*/
#pinatubo1 {
	background-image:  url("../images/pinatubo1.jpg");
}

#pinatubo2 {
	background-image:  url("../images/pinatubo2.jpg");
}

#pinatubo3 {
	background-image:  url("../images/pinatubo3.jpg");
}

/*mt kanlaon*/
#kanlaon1 {
	background-image:  url("../images/kanlaon1.jpg");
}

#kanlaon2 {
	background-image:  url("../images/kanlaon2.jpg");
}

#kanlaon3 {
	background-image:  url("../images/kanlaon3.jpg");
}

/*taal volcano*/
#taal1 {
	background-image:  url("../images/taal1.jpg");
}

#taal2 {
	background-image:  url("../images/taal2.jpg");
}

#taal3 {
	background-image:  url("../images/taal3.jpeg");
}

/*mt guiting-guiting*/
#guiting1 {
	background-image:  url("../images/guiting1.jpg");
}

#guiting2 {
	background-image:  url("../images/guiting2.jpg");
}

#guiting3 {
	background-image:  url("../images/guiting3.jpg");
}

/*mtpico*/
#pico1 {
	background-image:  url("../images/pico1.jpg");
}

#pico2 {
	background-image:  url("../images/pico2.jpg");
}

#pico3 {
	background-image:  url("../images/pico3.jpg");
}


/*end carousel section*/
/*end mountains page*/


/*about page*/
.heading-container {
	padding: 0;
}

.about-page-heading {
	font-size: 2.5rem;
	background-color: #202D43;
	margin-top: 15vh;
	padding: 25px;
	box-shadow: 0px 8px 6px -6px #000;
	border-radius: 5px;
	font-family: 'Passero One', sans-serif;
}

.about-page-container {
	padding-top: 30px;
	max-width: 960px;
	background-color:#202D43;
	box-shadow: 8px 8px 10px -6px #000;
	border-radius: 5px;
}

.about-para {
	text-align: justify;
	max-width: 600px;
	margin: 0 auto;
}

.img-figure {
	margin-bottom: 25px;
}

.about-desc {
	margin-bottom: 20px;
}


.about-img {
	height: 40vh;
	box-shadow: 8px 8px 10px -6px #000;
}

.about-vid {
	text-align: center;
	margin: 10px auto;
	margin-bottom: 20px;
}
/*end about page*/

/*media queries*/

/*mobile styling*/
@media only screen and (max-width: 400px) {
	/* landing page */
	.land-container-section {
		max-width: 50%;
	}

	.land-text {
		color: #082040;
		font-size: 1.5rem;
		height: 100%;
		padding: 10px;
	}  
	
	.land-container-section {
		min-width: 60%;
	}
	  
	.landpage-btn {
		min-width: 30%;
		font-size: 1rem;
		margin-top: 0;
	}

	.morefunlogo {
		width: 120px;
		position: absolute;
		bottom: 10%;
		right: 50%;
		transform: translate(50%);
	}
	  
	.akyatlogo {
		width: 70px;
		position: absolute;
		bottom: 15%;
		right:50%;
		transform: translate(50%);
	}
	  
	/* end landing page */
	/*home page*/
	.home-container {
		top: 40%;
	}

	.home-bg {
		margin-bottom: 0;
	}

	.para-img {
		background-attachment: scroll;
	}

	#logo {
		height: 6vh;
		position: absolute;
		transform: translate(0, -50%);
	}

	.logo2 {
		height: 100px;
		width: 100px;
	}

	.akyat-text {
		margin-top: 0;
		font-size: 3.5rem;
		text-align: center;
	}

	.akyat-desc {
		font-size: 2rem;
	}

	.akyat-quote {
		font-size: 1.2rem;
	}

	.navbar-nav{
		text-align: center;
	}

	.nav-item {
		border-bottom: 1px solid white;
	}

	#iconlist {
		display: none;
	}

	.container-quote {
		margin-bottom: 0;
	}

	.container-quote p{
		font-size: 1.8rem;
		height: 100%;
		margin: 0;
	}

	.col-img-trivia {
		padding-left: 0;
		padding-right: 0;
	}

	.row-container {
		margin-bottom: 0;
	}

	.card {
		margin-bottom: 20px;
	}

	/*end home page*/

	/*footer*/

	.container-disclaimer {
		font-size: 0.8rem;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.container-disclaimer {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.container-disclaimer p{
		padding: 10px;
	}

	.container-disclaimer .name{
		font-size: 0.8rem;
	
	}

	.container-disclaimer .info{
		font-size: 0.7rem;
		padding: 0 10px;
	}

	/*end footer*/

	/*mountain page*/
	.mountain-page-container {
		margin-top: 10vh;
	}
	/*end mountain page*/

	/*about page*/
	.about-vid {
		display: none;
	}
	/*end about page*/

	

}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	/* landing page */
	.morefunlogo {
		width: 180px;
		position: absolute;
		bottom: 5%;
	}
	  
	.akyatlogo {
		width: 100px;
		position: absolute;
		bottom: 10%;
		right: 7%;
	}
	/* end landing page */

	#logo {
		height: 6vh;
		position: absolute;
		transform: translate(0, -50%);
	}

	.main-container {
		max-width: 650px;
	}

	.container-quote p{
		font-size: 3rem;
		height: 20vh;
		
	}

	.card {
		max-height: 150px;
	}


}

/*desktop styling*/
@media only screen and (min-width: 961px) {

}
